html,
body {
  padding: 0;
  margin: 0;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  background-color: rgb(13, 17, 23);
}

* {
  box-sizing: border-box;
}

.main-wrapper {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
}

.dark.main-wrapper {
  color: white;
}

[class*='code-fold'] > td > a {
  font-size: 20px;
  text-decoration-line: none !important;
  position: relative;
  top: 0px;
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

[class*='code-fold'] > td > a > div {
  position: relative;
  top: -2px;
  left: -2px;
}

[class*='code-fold'] > td:nth-of-type(4) {
  position: relative;
  right: 0px;
  height: 40px;
  left: -106px;
  display: flex;
  align-items: center;
}

[class*='split-view'] [class*='code-fold'] > td:nth-of-type(3) {
  position: relative;
  right: 0px;
  height: 40px;
  left: -81px;
  display: flex;
  align-items: center;
}

[class*='split-view'] [class*='code-fold'] > td:nth-of-type(4) {
  display: table-cell;
  left: 0px;
  position: auto;
  height: auto;
}

@keyframes slow-blink {
  0% {
    color: rgba(255, 255, 255, 1);
  }
  50% {
    color: rgba(255, 255, 255, 0.5);
  }
  100% {
    color: rgba(255, 255, 255, 1);
  }
}
